<h2>Stocks</h2>

<p-table [value]="stocks">
  <ng-template pTemplate="header">
    <tr>
      <th>Stock</th>
      <th>Industry</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stock>
    <tr>
      <td>
        <a routerLink="/stock/{{stock.id}}">{{stock.name}}</a>
      </td>

      <td>{{stock.industry}}</td>
    </tr>
  </ng-template>
</p-table>

<button
  pButton
  type="button"
  label="Add new stock"
  class="p-button-success"
  (click)="newRow()"></button>
