<h2>Index composition</h2>

<p-table [value]="stocks">
  <ng-template pTemplate="header">
    <tr>
      <th>Stock</th>
      <th>Date added</th>
      <th>Current weight</th>
      <th>New weight</th>
      <th>Industry</th>
      <th>Remove</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stock>
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="stock.name">
          </ng-template>
          <ng-template pTemplate="output">
            {{stock.name}}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>{{stock.added}}</td>
      <td>{{stock.currentWeight | percent }}</td>

      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="number"
                   [value]="stock.newWeight * 100"
                   (input)="stock.newWeight = $event.target.value / 100">
          </ng-template>
          <ng-template pTemplate="output"> {{stock.newWeight | percent}} </ng-template>
        </p-cellEditor>
      </td>

      <td>{{stock.industry}}</td>

      <td>
        <span class="p-buttonset">
          <button
            pButton
            type="button"
            label="Delete"
            class="pi pi-trash"
            icon="pi pi-trash"
            (click)="removeStock(stock)"></button>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p>Total old weight: {{calculateTotalWeight(stocks) | percent}}</p>
<p>Total new weight: {{calculateTotalNewWeight(stocks) | percent}}</p>


<button pButton type="button" label="Add new stock" class="p-button-success"
        (click)="newRow()"></button>
