@import "../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css";

body {
  background-size: cover;
  min-height: 100vh;
}

.p-editable-column {
  background-color: aliceblue;
  cursor: pointer;
}
